<a href="https://colab.research.google.com/github/me-raj/EmployeSalaryCRUD/blob/master/Copy_of_Artificial_Neural_Network_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

:
*Hands-on of Big Data Analyst with TuV Certified Qualification*


---

# Artificial Neural Network

 # Q1: Explain cells #Split Data, #Confussion Matrix, and # Show the Accuracy, Precision, Recall, F1, etc. 


1. To split the dataset and create training data and test data, we call the function train_test_split with the following parametres:
 train_feature - input array that contains the feature data
 train_target - output (target) data
 shuffle = True means that the data are shuffled into random order before splitting
 test_size=0.3 means that we split our dataset into 30% test data (and 70% training data)
 random_state=1 means that train_test_split will shuffle the data in the same order prior to the split, every time you use the function with that same integer (1)

2.    accuracy represents the number of correctly classified data instances over the total number of data instances (Accuracy = TP+TN/TP+FP+FN+TN)
3.   precision is the ratio of correctly predicted positive observations to the total predicted positive observations (Precision = TP/TP+FP
4. recall is the ratio of correctly predicted positive observations to the all observations (Recall = TP/TP+FN)
5.  F1 Score is the weighted average of Precision and Recall (F1 = 2*(Recall * Precision) / (Recall + Precision))
6. Confussion Matrix is a predictor where we can measure (or visualize) the performance of our used classification algorithm. 


 the metric used to measure the performance of machine learning classification models based on assessing the perfect agreement and agreement by chance between the two raters (real-world observer and the classification model).

In [ ]:
# Import Library
import pandas as pd

In [ ]:
#Import the files to Google Colab
url = 'https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn_trasnsformed_new.csv'
df_csv = pd.read_csv(url, sep=',',)

# Show 10 first Row
df_csv.head()

,Unnamed: 0,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,1,1,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,1,0,0,1,1,0,0,1,34,...,1,0,1,0,0,1,0,5695,18895.0,0
2,2,1,0,0,1,1,0,0,1,2,...,0,1,0,1,0,1,0,5385,10815.0,1
3,3,1,0,0,1,1,0,0,1,45,...,1,0,1,0,0,1,1,423,184075.0,0
4,4,0,1,0,1,1,0,0,1,2,...,0,1,0,1,0,0,1,707,15165.0,1

In [ ]:
# Remove "Unnamed:O" Coloumn
df = df_csv.drop("Unnamed: 0", axis=1)
df.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,0,1,0,1,1,0,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,0,0,1,1,0,0,1,34,1,...,1,0,1,0,0,1,0,5695,18895.0,0
2,1,0,0,1,1,0,0,1,2,1,...,0,1,0,1,0,1,0,5385,10815.0,1
3,1,0,0,1,1,0,0,1,45,0,...,1,0,1,0,0,1,1,423,184075.0,0
4,0,1,0,1,1,0,0,1,2,1,...,0,1,0,1,0,0,1,707,15165.0,1

In [ ]:
# Check the Data Infomation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender_0            7043 non-null   int64
 1   gender_1            7043 non-null   int64
 2   SeniorCitizen_0     7043 non-null   int64
 3   SeniorCitizen_1     7043 non-null   int64
 4   Partner_0           7043 non-null   int64
 5   Partner_1           7043 non-null   int64
 6   Dependents_0        7043 non-null   int64
 7   Dependents_1        7043 non-null   int64
 8   tenure              7043 non-null   int64
 9   PhoneService_0      7043 non-null   int64
 10  PhoneService_1      7043 non-null   int64
 11  MultipleLines_0     7043 non-null   int64
 12  MultipleLines_1     7043 non-null   int64
 13  MultipleLines_2     7043 non-null   int64
 14  InternetService_0   7043 non-null   int64
 15  InternetService_1   7043 non-null   int64
 16  InternetService_2   7043 non-null   int64
 17  OnlineSecurity_0    7043 non-null   int64
 18  OnlineSecurity_1    7043 non-null   int64
 19  OnlineSecurity_2    7043 non-null   int64
 20  OnlineBackup_0      7043 non-null   int64
 21  OnlineBackup_1      7043 non-null   int64
 22  OnlineBackup_2      7043 non-null   int64
 23  DeviceProtection_0  7043 non-null   int64
 24  DeviceProtection_1  7043 non-null   int64
 25  DeviceProtection_2  7043 non-null   int64
 26  TechSupport_0       7043 non-null   int64
 27  TechSupport_1       7043 non-null   int64
 28  TechSupport_2       7043 non-null   int64
 29  StreamingTV_0       7043 non-null   int64
 30  StreamingTV_1       7043 non-null   int64
 31  StreamingTV_2       7043 non-null   int64
 32  StreamingMovies_0   7043 non-null   int64
 33  StreamingMovies_1   7043 non-null   int64
 34  StreamingMovies_2   7043 non-null   int64
 35  Contract_0          7043 non-null   int64
 36  Contract_1          7043 non-null   int64
 37  Contract_2          7043 non-null   int64
 38  PaperlessBilling_0  7043 non-null   int64
 39  PaperlessBilling_1  7043 non-null   int64
 40  PaymentMethod_0     7043 non-null   int64
 41  PaymentMethod_1     7043 non-null   int64
 42  PaymentMethod_2     7043 non-null   int64
 43  MonthlyCharges      7043 non-null   int64
 44  TotalCharges        7043 non-null   float64
 45  Churn               7043 non-null   int64
dtypes: float64(1), int64(45)
memory usage: 2.5 MB

In [ ]:
#Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler

# initialize min-max scaler
mm_scaler = MinMaxScaler()
column_names = df.columns.tolist()
column_names.remove('Churn')

# Transform all attributes
df[column_names] = mm_scaler.fit_transform(df[column_names])
df.sort_index(inplace=True)
df.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.003420,0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.021766,0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,0.012449,1
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.212235,0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,0.017465,1

In [ ]:
# Selecting the Feature of TotalCharges , by remove the unused feature 
feature = ['TotalCharges']
train_feature = df.drop(feature, axis=1)

# Set The Target
train_target = df["TotalCharges"]

In [ ]:
# Show the Feature
train_feature.head(5)

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,Churn
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,1
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,1

In [ ]:
# Split Data
from sklearn.model_selection import train_test_split, cross_val_score
# We import functions train_test_split, cross_val_score from Sklearn's model selection module 
X_train, X_test, y_train, y_test = train_test_split(train_feature ,train_target, shuffle = True, train_size=0.1, test_size=0.3, random_state=1)

# Q2: Train only 10% of the dataset, then run cell by cell from the top again. Compare the performance and explain. 

When we lower the number of training data to 10%, the accuracy drastically gets lower, as there is lesser data for the model to make prediction.

In [ ]:
# Show the training data
X_train.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,Churn
5925,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.277778,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.056343,0
4395,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.958333,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.875169,1
1579,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.166667,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.676957,1
1040,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.194444,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.761302,1
1074,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.013889,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.016194,0

To train the ANN Model.We will use the MLPClassifier from Scikit Learn Library. The full documentation can be seen [HERE](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html). Below is the default parameter:

`sklearn.neural_network.MLPClassifier(hidden_layer_sizes=(100), activation=’relu’, solver=’adam’, alpha=0.0001, batch_size=’auto’, learning_rate=’constant’, learning_rate_init=0.001, power_t=0.5, max_iter=200, shuffle=True, random_state=None, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True, early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08, n_iter_no_change=10)`



# Q3: 3. Change the output parameter from Churn to TotalCharges, and run again to find out the mean squared error (MSE) value.

 We have to use a "Regression" alrorithm, NOT 'Classification' algorithm, as this is a regression problem

In [ ]:
# Import Library
from sklearn.neural_network import MLPRegressor

# Fitting Model
mlp = MLPRegressor(hidden_layer_sizes=(5), activation = 'relu', solver = 'adam',max_iter= 10000, verbose = True)
mlp = mlp.fit(X_train,y_train)

# Prediction to Test Dataset
y_predmlp = mlp.predict(X_test)

Iteration 1, loss = 1.58041064
Iteration 2, loss = 1.35166297
Iteration 3, loss = 1.16855958
Iteration 4, loss = 1.01909497
Iteration 5, loss = 0.89622782
Iteration 6, loss = 0.80149462
Iteration 7, loss = 0.72501501
Iteration 8, loss = 0.66285368
Iteration 9, loss = 0.61312613
Iteration 10, loss = 0.57206695
Iteration 11, loss = 0.53875192
Iteration 12, loss = 0.51086465
Iteration 13, loss = 0.48791874
Iteration 14, loss = 0.46831906
Iteration 15, loss = 0.45113605
Iteration 16, loss = 0.43677383
Iteration 17, loss = 0.42406343
Iteration 18, loss = 0.41276086
Iteration 19, loss = 0.40291978
Iteration 20, loss = 0.39408439
Iteration 21, loss = 0.38611176
Iteration 22, loss = 0.37903644
Iteration 23, loss = 0.37221117
Iteration 24, loss = 0.36611539
Iteration 25, loss = 0.36042625
Iteration 26, loss = 0.35504284
Iteration 27, loss = 0.34999158
Iteration 28, loss = 0.34524257
Iteration 29, loss = 0.34067569
Iteration 30, loss = 0.33643073
Iteration 31, loss = 0.33237145
Iteration 32, loss = 0.32845891
Iteration 33, loss = 0.32465711
Iteration 34, loss = 0.32102068
Iteration 35, loss = 0.31737697
Iteration 36, loss = 0.31399606
Iteration 37, loss = 0.31065679
Iteration 38, loss = 0.30736493
Iteration 39, loss = 0.30411406
Iteration 40, loss = 0.30099556
Iteration 41, loss = 0.29793200
Iteration 42, loss = 0.29491643
Iteration 43, loss = 0.29194471
Iteration 44, loss = 0.28905876
Iteration 45, loss = 0.28619624
Iteration 46, loss = 0.28336323
Iteration 47, loss = 0.28061072
Iteration 48, loss = 0.27794209
Iteration 49, loss = 0.27528380
Iteration 50, loss = 0.27267469
Iteration 51, loss = 0.27010152
Iteration 52, loss = 0.26755977
Iteration 53, loss = 0.26506013
Iteration 54, loss = 0.26258678
Iteration 55, loss = 0.26012238
Iteration 56, loss = 0.25772585
Iteration 57, loss = 0.25534577
Iteration 58, loss = 0.25297954
Iteration 59, loss = 0.25065430
Iteration 60, loss = 0.24833243
Iteration 61, loss = 0.24607314
Iteration 62, loss = 0.24382127
Iteration 63, loss = 0.24158368
Iteration 64, loss = 0.23938216
Iteration 65, loss = 0.23720482
Iteration 66, loss = 0.23503083
Iteration 67, loss = 0.23288600
Iteration 68, loss = 0.23076392
Iteration 69, loss = 0.22865183
Iteration 70, loss = 0.22655576
Iteration 71, loss = 0.22447285
Iteration 72, loss = 0.22241990
Iteration 73, loss = 0.22036986
Iteration 74, loss = 0.21833439
Iteration 75, loss = 0.21634186
Iteration 76, loss = 0.21433696
Iteration 77, loss = 0.21236723
Iteration 78, loss = 0.21040127
Iteration 79, loss = 0.20845965
Iteration 80, loss = 0.20655557
Iteration 81, loss = 0.20463853
Iteration 82, loss = 0.20273705
Iteration 83, loss = 0.20088268
Iteration 84, loss = 0.19902466
Iteration 85, loss = 0.19718008
Iteration 86, loss = 0.19534946
Iteration 87, loss = 0.19352737
Iteration 88, loss = 0.19173816
Iteration 89, loss = 0.18995406
Iteration 90, loss = 0.18817847
Iteration 91, loss = 0.18643183
Iteration 92, loss = 0.18468016
Iteration 93, loss = 0.18296662
Iteration 94, loss = 0.18125920
Iteration 95, loss = 0.17957011
Iteration 96, loss = 0.17789371
Iteration 97, loss = 0.17622872
Iteration 98, loss = 0.17457809
Iteration 99, loss = 0.17294994
Iteration 100, loss = 0.17132282
Iteration 101, loss = 0.16971441
Iteration 102, loss = 0.16812502
Iteration 103, loss = 0.16653793
Iteration 104, loss = 0.16496835
Iteration 105, loss = 0.16342000
Iteration 106, loss = 0.16187656
Iteration 107, loss = 0.16034650
Iteration 108, loss = 0.15881958
Iteration 109, loss = 0.15731394
Iteration 110, loss = 0.15583578
Iteration 111, loss = 0.15435954
Iteration 112, loss = 0.15288337
Iteration 113, loss = 0.15142516
Iteration 114, loss = 0.14999663
Iteration 115, loss = 0.14855792
Iteration 116, loss = 0.14713944
Iteration 117, loss = 0.14574291
Iteration 118, loss = 0.14436136
Iteration 119, loss = 0.14297344
Iteration 120, loss = 0.14161262
Iteration 121, loss = 0.14025509
Iteration 122, loss = 0.13893098
Iteration 123, loss = 0.13759070
Iteration 124, loss = 0.13627355
Iteration 125, loss = 0.13496648
Iteration 126, loss = 0.13367310
Iteration 127, loss = 0.13238711
Iteration 128, loss = 0.13111527
Iteration 129, loss = 0.12985602
Iteration 130, loss = 0.12860981
Iteration 131, loss = 0.12736705
Iteration 132, loss = 0.12614068
Iteration 133, loss = 0.12493765
Iteration 134, loss = 0.12372840
Iteration 135, loss = 0.12254869
Iteration 136, loss = 0.12136140
Iteration 137, loss = 0.12019716
Iteration 138, loss = 0.11902801
Iteration 139, loss = 0.11788368
Iteration 140, loss = 0.11673907
Iteration 141, loss = 0.11562186
Iteration 142, loss = 0.11448879
Iteration 143, loss = 0.11339010
Iteration 144, loss = 0.11228334
Iteration 145, loss = 0.11120724
Iteration 146, loss = 0.11013365
Iteration 147, loss = 0.10906222
Iteration 148, loss = 0.10802054
Iteration 149, loss = 0.10697244
Iteration 150, loss = 0.10594443
Iteration 151, loss = 0.10492360
Iteration 152, loss = 0.10390281
Iteration 153, loss = 0.10290273
Iteration 154, loss = 0.10190968
Iteration 155, loss = 0.10091976
Iteration 156, loss = 0.09994618
Iteration 157, loss = 0.09897857
Iteration 158, loss = 0.09801711
Iteration 159, loss = 0.09707233
Iteration 160, loss = 0.09613769
Iteration 161, loss = 0.09521055
Iteration 162, loss = 0.09429199
Iteration 163, loss = 0.09338442
Iteration 164, loss = 0.09247901
Iteration 165, loss = 0.09159451
Iteration 166, loss = 0.09071415
Iteration 167, loss = 0.08983634
Iteration 168, loss = 0.08897306
Iteration 169, loss = 0.08811629
Iteration 170, loss = 0.08726889
Iteration 171, loss = 0.08644559
Iteration 172, loss = 0.08561161
Iteration 173, loss = 0.08479263
Iteration 174, loss = 0.08396922
Iteration 175, loss = 0.08318608
Iteration 176, loss = 0.08238135
Iteration 177, loss = 0.08159039
Iteration 178, loss = 0.08081643
Iteration 179, loss = 0.08003441
Iteration 180, loss = 0.07928722
Iteration 181, loss = 0.07851606
Iteration 182, loss = 0.07777764
Iteration 183, loss = 0.07703381
Iteration 184, loss = 0.07629891
Iteration 185, loss = 0.07558208
Iteration 186, loss = 0.07485702
Iteration 187, loss = 0.07414670
Iteration 188, loss = 0.07345071
Iteration 189, loss = 0.07276056
Iteration 190, loss = 0.07207218
Iteration 191, loss = 0.07138448
Iteration 192, loss = 0.07072270
Iteration 193, loss = 0.07005512
Iteration 194, loss = 0.06940116
Iteration 195, loss = 0.06874282
Iteration 196, loss = 0.06810880
Iteration 197, loss = 0.06746516
Iteration 198, loss = 0.06683544
Iteration 199, loss = 0.06620640
Iteration 200, loss = 0.06559254
Iteration 201, loss = 0.06498309
Iteration 202, loss = 0.06437780
Iteration 203, loss = 0.06378265
Iteration 204, loss = 0.06319032
Iteration 205, loss = 0.06261445
Iteration 206, loss = 0.06203309
Iteration 207, loss = 0.06147531
Iteration 208, loss = 0.06091690
Iteration 209, loss = 0.06034849
Iteration 210, loss = 0.05981133
Iteration 211, loss = 0.05926884
Iteration 212, loss = 0.05872856
Iteration 213, loss = 0.05819983
Iteration 214, loss = 0.05768059
Iteration 215, loss = 0.05715810
Iteration 216, loss = 0.05664881
Iteration 217, loss = 0.05614811
Iteration 218, loss = 0.05565444
Iteration 219, loss = 0.05516398
Iteration 220, loss = 0.05467126
Iteration 221, loss = 0.05418936
Iteration 222, loss = 0.05372239
Iteration 223, loss = 0.05324997
Iteration 224, loss = 0.05278295
Iteration 225, loss = 0.05232986
Iteration 226, loss = 0.05187699
Iteration 227, loss = 0.05142466
Iteration 228, loss = 0.05098359
Iteration 229, loss = 0.05054570
Iteration 230, loss = 0.05011374
Iteration 231, loss = 0.04968353
Iteration 232, loss = 0.04926659
Iteration 233, loss = 0.04884577
Iteration 234, loss = 0.04844194
Iteration 235, loss = 0.04803738
Iteration 236, loss = 0.04763328
Iteration 237, loss = 0.04723753
Iteration 238, loss = 0.04684902
Iteration 239, loss = 0.04647246
Iteration 240, loss = 0.04608677
Iteration 241, loss = 0.04570922
Iteration 242, loss = 0.04534712
Iteration 243, loss = 0.04497759
Iteration 244, loss = 0.04462053
Iteration 245, loss = 0.04426345
Iteration 246, loss = 0.04391965
Iteration 247, loss = 0.04356935
Iteration 248, loss = 0.04323121
Iteration 249, loss = 0.04289868
Iteration 250, loss = 0.04256532
Iteration 251, loss = 0.04223460
Iteration 252, loss = 0.04191366
Iteration 253, loss = 0.04159801
Iteration 254, loss = 0.04128115
Iteration 255, loss = 0.04097289
Iteration 256, loss = 0.04066373
Iteration 257, loss = 0.04034936
Iteration 258, loss = 0.04005909
Iteration 259, loss = 0.03975999
Iteration 260, loss = 0.03946890
Iteration 261, loss = 0.03918128
Iteration 262, loss = 0.03890059
Iteration 263, loss = 0.03862054
Iteration 264, loss = 0.03834433
Iteration 265, loss = 0.03806826
Iteration 266, loss = 0.03780322
Iteration 267, loss = 0.03753857
Iteration 268, loss = 0.03728059
Iteration 269, loss = 0.03702271
Iteration 270, loss = 0.03677000
Iteration 271, loss = 0.03652316
Iteration 272, loss = 0.03627267
Iteration 273, loss = 0.03603051
Iteration 274, loss = 0.03579314
Iteration 275, loss = 0.03555167
Iteration 276, loss = 0.03532153
Iteration 277, loss = 0.03508741
Iteration 278, loss = 0.03486873
Iteration 279, loss = 0.03463997
Iteration 280, loss = 0.03442253
Iteration 281, loss = 0.03421296
Iteration 282, loss = 0.03399679
Iteration 283, loss = 0.03378610
Iteration 284, loss = 0.03358441
Iteration 285, loss = 0.03338529
Iteration 286, loss = 0.03317748
Iteration 287, loss = 0.03298156
Iteration 288, loss = 0.03279195
Iteration 289, loss = 0.03259936
Iteration 290, loss = 0.03241403
Iteration 291, loss = 0.03222136
Iteration 292, loss = 0.03204097
Iteration 293, loss = 0.03185986
Iteration 294, loss = 0.03168571
Iteration 295, loss = 0.03150491
Iteration 296, loss = 0.03133381
Iteration 297, loss = 0.03116134
Iteration 298, loss = 0.03099975
Iteration 299, loss = 0.03083581
Iteration 300, loss = 0.03067184
Iteration 301, loss = 0.03051466
Iteration 302, loss = 0.03035572
Iteration 303, loss = 0.03020537
Iteration 304, loss = 0.03005259
Iteration 305, loss = 0.02990177
Iteration 306, loss = 0.02975227
Iteration 307, loss = 0.02960647
Iteration 308, loss = 0.02946944
Iteration 309, loss = 0.02932568
Iteration 310, loss = 0.02918762
Iteration 311, loss = 0.02905481
Iteration 312, loss = 0.02892152
Iteration 313, loss = 0.02878800
Iteration 314, loss = 0.02866222
Iteration 315, loss = 0.02853177
Iteration 316, loss = 0.02841221
Iteration 317, loss = 0.02828755
Iteration 318, loss = 0.02816850
Iteration 319, loss = 0.02804624
Iteration 320, loss = 0.02792971
Iteration 321, loss = 0.02781535
Iteration 322, loss = 0.02770076
Iteration 323, loss = 0.02759333
Iteration 324, loss = 0.02748051
Iteration 325, loss = 0.02737604
Iteration 326, loss = 0.02726870
Iteration 327, loss = 0.02716212
Iteration 328, loss = 0.02706210
Iteration 329, loss = 0.02696143
Iteration 330, loss = 0.02686423
Iteration 331, loss = 0.02676459
Iteration 332, loss = 0.02666633
Iteration 333, loss = 0.02657584
Iteration 334, loss = 0.02648028
Iteration 335, loss = 0.02638869
Iteration 336, loss = 0.02630092
Iteration 337, loss = 0.02621281
Iteration 338, loss = 0.02612308
Iteration 339, loss = 0.02603638
Iteration 340, loss = 0.02595432
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [ ]:
print('Number of Layer =', mlp.n_layers_)
print('Number of Iteration =', mlp.n_iter_)
print('Current loss computed with the loss function =', mlp.loss_)

Number of Layer = 3
Number of Iteration = 340
Current loss computed with the loss function = 0.025954320948586154

# As this is a regression problem, we can Not use confusion matrix. We have to use a regressor measure algorithm.

In [ ]:
# Import the Regressor class
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

error_function = mean_squared_error(y_test, y_predmlp)

print("The Mean Squarred Error on test set: {:.4f}".format(error_function))

The Mean Squarred Error on test set: 0.0571

NameError: ignored